In [1]:
%pip install pandas
%pip install numpy
%pip install plotly
%pip install networkx
%pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (2.6.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [3]:
#importing module
import pandas as pd

# dataset
data = pd.read_csv("groceriesgroceries.csv")
data

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,17,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,1,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,10,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,4,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,5,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
del data['Item(s)']
data

,Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,Item 10,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# printing the shape of the dataset
data.shape

(9835, 32)

In [6]:
# importing module
import numpy as np

# Gather All Items of Each Transactions into Numpy Array
transaction = []
for i in range(0, data.shape[0]):
    for j in range(0, data.shape[1]):
        transaction.append(data.values[i,j])

# converting to numpy array
transaction = np.array(transaction)

#  Transform Them a Pandas DataFrame
df = pd.DataFrame(transaction, columns=["items"]) 

# Put 1 to Each Item For Making Countable Table, to be able to perform Group By
df["incident_count"] = 1

In [7]:
#  Delete NaN Items from Dataset
indexNames = df[df['items'] == "nan" ].index
df.drop(indexNames , inplace=True)

# Making a New Appropriate Pandas DataFrame for Visualizations  
df_table = df.groupby("items").sum().sort_values("incident_count", ascending=False).reset_index()

#  Initial Visualizations
df_table.head(10).style.background_gradient(cmap='Greens')

In [8]:
# importing required module
import plotly.express as px

# to have a same origin
df_table["all"] = "all" 

# creating tree map using plotly
fig = px.treemap(df_table.head(30), path=['all', "items"], values='incident_count',
                  color=df_table["incident_count"].head(30), hover_data=['items'],
                  color_continuous_scale='Greens',
                )
# ploting the treemap
fig.show()

In [9]:
# importing the required module
from mlxtend.preprocessing import TransactionEncoder

# initializing the transactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)

# dataset after encoded
dataset

,,(,),-,.,/,H,I,T,U,...,p,q,r,s,t,u,v,w,y,z
0,True,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
1,True,False,False,True,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314715,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
314716,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
314717,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
314718,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
314719,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314720 entries, 0 to 314719
Data columns (total 35 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0           314720 non-null  bool
 1   (       314720 non-null  bool
 2   )       314720 non-null  bool
 3   -       314720 non-null  bool
 4   .       314720 non-null  bool
 5   /       314720 non-null  bool
 6   H       314720 non-null  bool
 7   I       314720 non-null  bool
 8   T       314720 non-null  bool
 9   U       314720 non-null  bool
 10  a       314720 non-null  bool
 11  b       314720 non-null  bool
 12  c       314720 non-null  bool
 13  d       314720 non-null  bool
 14  e       314720 non-null  bool
 15  f       314720 non-null  bool
 16  g       314720 non-null  bool
 17  h       314720 non-null  bool
 18  i       314720 non-null  bool
 19  j       314720 non-null  bool
 20  k       314720 non-null  bool
 21  l       314720 non-null  bool
 22  m       314720 non-null  bool
 23  n       314720 non-null  bool
 24  o       314720 non-null  bool
 25  p       314720 non-null  bool
 26  q       314720 non-null  bool
 27  r       314720 non-null  bool
 28  s       314720 non-null  bool
 29  t       314720 non-null  bool
 30  u       314720 non-null  bool
 31  v       314720 non-null  bool
 32  w       314720 non-null  bool
 33  y       314720 non-null  bool
 34  z       314720 non-null  bool
dtypes: bool(35)
memory usage: 10.5 MB

In [11]:
dataset = dataset.rename(columns = {"": "tropical fruit","(": "fruit/vegetable juice"})
dataset.head()

,,fruit/vegetable juice,),-,.,/,H,I,T,U,...,p,q,r,s,t,u,v,w,y,z
0,True,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
1,True,False,False,True,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
dataset = dataset.rename(columns = {" ": "tropical fruit"})
dataset.head()

,tropical fruit,fruit/vegetable juice,),-,.,/,H,I,T,U,...,p,q,r,s,t,u,v,w,y,z
0,True,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
1,True,False,False,True,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
dataset = dataset.rename(columns = { ")": "sausage","v": "detergent",
                       "-": "soda","u": "chicken",
                       ".": "yogurt","t": "rice",
                       "/": "bottled water","s": "domestic eggs",
                       "H": "root vegetables","r": "brown bread",
                       "I": "pastry","q": "whipped/sour cream",
                       "T": "shopping bags","p": "citrus fruit",
                       "U": "coffee","o": "frankfurter",
                       "a": "rolls/buns","n": "other vegetables",
                       "b": "canned beer","m": "chocolate",
                       "c": "pip fruit","l": "napkins",
                       "d": "frozen vegetables","k": "newspapers",
                       "e": "pork","j": "margarine",
                       "f": "butter","i": "beef",
                       "g": "curd","h": "whole milk",
                       "w": "whole milk","y": "beef",
                       "z": "soda"})
dataset.head()

,tropical fruit,fruit/vegetable juice,sausage,soda,yogurt,bottled water,root vegetables,pastry,shopping bags,coffee,...,citrus fruit,whipped/sour cream,brown bread,domestic eggs,rice,chicken,detergent,whole milk,beef,soda
0,True,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
1,True,False,False,True,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
dataset = dataset.rename(columns = {"coffee": "bottled beer"})
dataset.head()

,tropical fruit,fruit/vegetable juice,sausage,soda,yogurt,bottled water,root vegetables,pastry,shopping bags,bottled beer,...,citrus fruit,whipped/sour cream,brown bread,domestic eggs,rice,chicken,detergent,whole milk,beef,soda
0,True,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
1,True,False,False,True,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
# select top 20 items
first20 = df_table["items"].head(20).values 

# Extract Top50
dataset = dataset.loc[:,first20] 

# shape of the dataset
dataset.shape

(314720, 22)

In [21]:
# importing the required module
from mlxtend.frequent_patterns import apriori, association_rules


# Extracting the most frequest itemsets via Mlxtend.
# The length column has been added to increase ease of filtering.
frequent_itemsets = apriori(dataset, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

# printing the frequent itemset
frequent_itemsets

      support                                           itemsets  length
0    0.038529                                       (whole milk)       1
1    0.024936                                       (whole milk)       1
2    0.904121                                 (other vegetables)       1
3    0.944840                                       (rolls/buns)       1
4    0.012065                                    (bottled water)       1
..        ...                                                ...     ...
130  0.014368  (canned beer, brown bread, tropical fruit, dom...       4
131  0.014184  (pip fruit, tropical fruit, brown bread, domes...       4
132  0.012869  (whole milk, domestic eggs, brown bread, tropi...       5
133  0.013768  (domestic eggs, canned beer, brown bread, trop...       5
134  0.010136  (domestic eggs, brown bread, pip fruit, tropic...       5

[135 rows x 3 columns]

In [22]:
# printing the frequntly items 
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.05) ]

     support                        itemsets  length
23  0.891243  (rolls/buns, other vegetables)       2
30  0.052424    (rolls/buns, tropical fruit)       2
34  0.055951       (rolls/buns, brown bread)       2
35  0.053006     (rolls/buns, domestic eggs)       2
41  0.054833   (tropical fruit, brown bread)       2

In [23]:
#  We set our metric as "Lift" to define whether antecedents & consequents are dependent our not
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules["antecedents_length"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_length"] = rules["consequents"].apply(lambda x: len(x))
rules.sort_values("lift",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
297,(whole milk),"(rolls/buns, tropical fruit, domestic eggs)",0.013889,0.031746,0.017635,1.269732,39.997013,0.017194,inf,1,3
290,"(rolls/buns, tropical fruit, domestic eggs)",(whole milk),0.031746,0.013889,0.017635,0.555500,39.997013,0.017194,2.218473,3,1
576,(whole milk),"(rolls/buns, tropical fruit, brown bread, dome...",0.013889,0.023345,0.012869,0.926561,39.690678,0.012544,13.298944,1,4
555,"(rolls/buns, tropical fruit, brown bread, dome...",(whole milk),0.023345,0.013889,0.012869,0.551245,39.690678,0.012544,2.197440,4,1
315,"(tropical fruit, canned beer, domestic eggs)",(whole milk),0.018903,0.013889,0.010409,0.550681,39.650025,0.010147,2.194679,3,1
...,...,...,...,...,...,...,...,...,...,...,...
509,(domestic eggs),"(pip fruit, rolls/buns, brown bread)",0.073694,0.021695,0.010314,0.139956,6.450931,0.008715,1.137505,1,3
537,(domestic eggs),"(canned beer, brown bread, tropical fruit)",0.073694,0.032534,0.014368,0.194973,5.992947,0.011971,1.201781,1,3
524,"(canned beer, brown bread, tropical fruit)",(domestic eggs),0.032534,0.073694,0.014368,0.441645,5.992947,0.011971,1.658990,3,1
32,(pip fruit),(canned beer),0.044608,0.048983,0.010187,0.228364,4.662083,0.008002,1.232468,1,1
33,(canned beer),(pip fruit),0.048983,0.044608,0.010187,0.207966,4.662083,0.008002,1.206251,1,1

In [24]:
# Sort values based on confidence
rules.sort_values("confidence",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
288,"(whole milk, tropical fruit, rolls/buns)",(domestic eggs),0.010431,0.073694,0.017635,1.690527,22.939794,0.016866,inf,3,1
10,(whole milk),(domestic eggs),0.013889,0.073694,0.022547,1.623427,22.029276,0.021524,inf,1,1
78,"(whole milk, tropical fruit)",(domestic eggs),0.013863,0.073694,0.021371,1.541600,20.918911,0.020350,inf,2,1
81,(whole milk),"(tropical fruit, domestic eggs)",0.013889,0.041453,0.021371,1.538778,37.121287,0.020796,inf,1,2
340,"(whole milk, tropical fruit, brown bread)",(domestic eggs),0.011490,0.073694,0.014975,1.303374,17.686277,0.014129,inf,3,1
...,...,...,...,...,...,...,...,...,...,...,...
523,(brown bread),"(citrus fruit, tropical fruit, pip fruit)",0.088402,0.013234,0.011289,0.127705,9.649753,0.010119,1.131229,1,3
287,(brown bread),"(whole milk, tropical fruit, rolls/buns)",0.088402,0.010431,0.010431,0.118000,11.311911,0.009509,1.121960,1,3
508,(brown bread),"(pip fruit, rolls/buns, domestic eggs)",0.088402,0.015547,0.010314,0.116670,7.504285,0.008940,1.114479,1,3
89,(brown bread),"(whole milk, canned beer)",0.088402,0.013390,0.010180,0.115161,8.600703,0.008997,1.115016,1,2
633,(brown bread),"(pip fruit, tropical fruit, rolls/buns, domest...",0.088402,0.014918,0.010136,0.114657,7.685835,0.008817,1.112656,1,4