Basic Multi-Layer Perceptron

In [16]:
# Import library, dan import data
import pandas as pd
import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler  
from sklearn.neural_network import MLPClassifier 
from sklearn.metrics import classification_report, confusion_matrix 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [2]:
# Memberi nama fitur
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

In [3]:
# Membaca dataset melalui fungsi Pandas
irisdata = pd.read_csv(url, names=names)

The Iris ataset has five columns. 
The task is to predict the class (which are the values in the fifth column) that the iris plant belongs to.

In [4]:
# Mengambil 4 kolom pertama menjadi variabel X
X = irisdata.iloc[:, 0:4]
# Mengambil kolom ke-5 pertama dan menetapkannya ke variabel "Y". Objek dtype mengacu pada string
y = irisdata.select_dtypes(include=[object])

In [5]:
X.head()

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
y.head()

         Class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [7]:
# y sebenarnya berisi semua kategori atau kelas:
y.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
# Ubah kategori menjadi numerik
le = preprocessing.LabelEncoder()
y = y.apply(le.fit_transform)

In [9]:
y.head()

   Class
0      0
1      0
2      0
3      0
4      0

In [10]:
# Sekarang untuk pemisahan pelatihan 80% dan pengujian 20% dari dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [11]:
# Feature scaling
scaler = StandardScaler()  
scaler.fit(X_train)
X_train = scaler.transform(X_train)  
X_test = scaler.transform(X_test)

In [12]:
# Multilayer Perceptron
mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)  
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)

In [13]:
predictions = mlp.predict(X_test)

In [14]:
print(predictions)

[2 0 2 2 1 2 2 2 0 2 1 1 1 2 0 1 2 2 0 1 2 2 2 0 0 1 0 1 1 1]

In [15]:
# Hal terakhir: evaluasi kinerja algoritma dalam mengklasifikasikan bunga
print(confusion_matrix(y_test,predictions))  
print(classification_report(y_test,predictions))

[[ 7  0  0]
 [ 0 10  2]
 [ 0  0 11]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       1.00      0.83      0.91        12
           2       0.85      1.00      0.92        11

    accuracy                           0.93        30
   macro avg       0.95      0.94      0.94        30
weighted avg       0.94      0.93      0.93        30