In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('antarctica-penguin.csv')
data.head(10)

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
5,PAL0708,6,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A2,Yes,11/16/07,39.3,20.6,190.0,3650.0,MALE,8.66496,-25.29805,NaN
6,PAL0708,7,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N4A1,No,11/15/07,38.9,17.8,181.0,3625.0,FEMALE,9.18718,-25.21799,Nest never observed with full clutch.
7,PAL0708,8,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N4A2,No,11/15/07,39.2,19.6,195.0,4675.0,MALE,9.46060,-24.89958,Nest never observed with full clutch.
8,PAL0708,9,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N5A1,Yes,11/9/07,34.1,18.1,193.0,3475.0,NaN,NaN,NaN,No blood sample obtained.
9,PAL0708,10,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N5A2,Yes,11/9/07,42.0,20.2,190.0,4250.0,NaN,9.13362,-25.09368,No blood sample obtained for sexing.

In [ ]:
d = {'Adelie Penguin (Pygoscelis adeliae)' : 0 ,
     'Chinstrap penguin (Pygoscelis antarctica)' : 1, 
     'Gentoo penguin (Pygoscelis papua)' : 2}
data['Species'] = data['Species'].map(d)
data.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,0,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,0,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,0,Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,0,Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,0,Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [ ]:
data = data.drop(data.columns[[0, 1, 3,4,5,6,7,8,13,14,15,16]], axis=1)
data

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
0,0,39.1,18.7,181.0,3750.0
1,0,39.5,17.4,186.0,3800.0
2,0,40.3,18.0,195.0,3250.0
3,0,NaN,NaN,NaN,NaN
4,0,36.7,19.3,193.0,3450.0
...,...,...,...,...,...
339,2,NaN,NaN,NaN,NaN
340,2,46.8,14.3,215.0,4850.0
341,2,50.4,15.7,222.0,5750.0
342,2,45.2,14.8,212.0,5200.0
343,2,49.9,16.1,213.0,5400.0

In [ ]:
data = data.dropna()
data

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
0,0,39.1,18.7,181.0,3750.0
1,0,39.5,17.4,186.0,3800.0
2,0,40.3,18.0,195.0,3250.0
4,0,36.7,19.3,193.0,3450.0
5,0,39.3,20.6,190.0,3650.0
...,...,...,...,...,...
338,2,47.2,13.7,214.0,4925.0
340,2,46.8,14.3,215.0,4850.0
341,2,50.4,15.7,222.0,5750.0
342,2,45.2,14.8,212.0,5200.0
343,2,49.9,16.1,213.0,5400.0

In [ ]:
def activation_func(value):    #Tangent Hypotenuse
    #return (1/(1+np.exp(-value)))
    return ((np.exp(value)-np.exp(-value))/(np.exp(value)+np.exp(-value)))

In [ ]:
def perceptron_train(in_data,labels,alpha):
    X=np.array(in_data)
    y=np.array(labels)
    weights=np.random.random(X.shape[1])
    original=weights
    bias=np.random.random_sample()
    for key in range(X.shape[0]):
        a=activation_func(np.matmul(np.transpose(weights),X[key]))     
        yn=0
        if a>=0.7:
            yn=1
        elif a<=(-0.7):
            yn=-1
        weights=weights+alpha*(yn-y[key])*X[key]
        print('Iteration '+str(key)+': '+str(weights))
    print('Difference: '+str(weights-original))
    return weights

In [ ]:
def perceptron_test(in_data,label_shape,weights):
    X=np.array(in_data)
    y=np.zeros(label_shape)
    for key in range(X.shape[1]):
        a=activation_func((weights*X[key]).sum())
        y[key]=0
        if a>=0.7:
            y[key]=1
        elif a<=(-0.7):
            y[key]=-1
    return y

In [ ]:
def score(result,labels):
    difference=result-np.array(labels)                                                        
    correct_ctr=0
    for elem in range(difference.shape[0]):
        if difference[elem]==0:
            correct_ctr+=1
    score=correct_ctr*100/difference.size
    print('Score='+str(score))

In [ ]:
# Dividing DataFrame "data" into "d_train" (60%) and "d_test" (40%)
divider = np.random.rand(len(data)) < 0.70
d_train=data[divider]
d_test=data[~divider]

In [ ]:
# Dividing d_train into data and labels/targets
d_train_y=d_train['Species']
d_train_X=d_train.drop(['Species'],axis=1)

# Dividing d_train into data and labels/targets
d_test_y=d_test['Species']
d_test_X=d_test.drop(['Species'],axis=1)

In [ ]:
# Learning rate
alpha = 0.01

# Train
weights = perceptron_train(d_train_X, d_train_y, alpha)

Iteration 0: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 1: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 2: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 3: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 4: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 5: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 6: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 7: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 8: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 9: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 10: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 11: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 12: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 13: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 14: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 15: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 16: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 17: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 18: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 19: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 20: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 21: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 22: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 23: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 24: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 25: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 26: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 27: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 28: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 29: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 30: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 31: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 32: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 33: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 34: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 35: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 36: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 37: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 38: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 39: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 40: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 41: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 42: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 43: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 44: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 45: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 46: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 47: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 48: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 49: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 50: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 51: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 52: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 53: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 54: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 55: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 56: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 57: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 58: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 59: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 60: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 61: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 62: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 63: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 64: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 65: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 66: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 67: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 68: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 69: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 70: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 71: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 72: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 73: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 74: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 75: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 76: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 77: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 78: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 79: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 80: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 81: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 82: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 83: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 84: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 85: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 86: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 87: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 88: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 89: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 90: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 91: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 92: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 93: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 94: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 95: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 96: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 97: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 98: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 99: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 100: [0.24694327 0.84655473 0.91652133 0.34985122]
Iteration 101: [ -0.21805673   0.66755473  -1.00347867 -34.65014878]
Iteration 102: [ -0.71805673   0.47255473  -2.96347867 -73.65014878]
Iteration 103: [  -1.23105673    0.28055473   -4.89347867 -110.15014878]
Iteration 104: [-1.68505673e+00  9.35547303e-02 -6.77347867e+00 -1.45400149e+02]
Iteration 105: [-2.13705673e+00 -8.44452697e-02 -8.75347867e+00 -1.84900149e+02]
Iteration 106: [  -2.59805673   -0.26644527  -10.53347867 -217.40014878]
Iteration 107: [  -3.11105673   -0.44844527  -12.50347867 -254.90014878]
Iteration 108: [  -3.57105673   -0.63744527  -14.45347867 -296.40014878]
Iteration 109: [  -4.03705673   -0.81544527  -16.38347867 -334.40014878]
Iteration 110: [  -4.50705673   -0.98844527  -18.23347867 -371.40014878]
Iteration 111: [  -5.02705673   -1.16944527  -20.24347867 -411.90014878]
Iteration 112: [  -5.60705673   -1.34744527  -22.05347867 -448.90014878]
Iteration 113: [  -6.07105673   -1.53344527  -23.95347867 -483.40014878]
Iteration 114: [  -6.56305673   -1.71544527  -25.90347867 -527.40014878]
Iteration 115: [  -6.98705673   -1.88844527  -27.71347867 -563.40014878]
Iteration 116: [  -7.41905673   -2.05444527  -29.58347867 -592.40014878]
Iteration 117: [  -7.93905673   -2.24444527  -31.55347867 -633.90014878]
Iteration 118: [  -8.44405673   -2.42844527  -33.55347867 -667.90014878]
Iteration 119: [  -8.93905673   -2.61844527  -35.55347867 -705.90014878]
Iteration 120: [  -9.46705673   -2.81844527  -37.60347867 -751.40014878]
Iteration 121: [ -10.00905673   -3.02644527  -39.61347867 -794.40014878]
Iteration 122: [ -10.43405673   -3.19344527  -41.48347867 -827.90014878]
Iteration 123: [ -10.94405673   -3.38144527  -43.51347867 -868.90014878]
Iteration 124: [ -11.42005673   -3.56444527  -45.46347867 -907.40014878]
Iteration 125: [ -11.94005673   -3.77144527  -47.56347867 -955.40014878]
Iteration 126: [ -12.40905673   -3.93744527  -49.48347867 -982.40014878]
Iteration 127: [  -12.94405673    -4.13644527   -51.53347867 -1027.40014878]
Iteration 128: [  -13.43405673    -4.33144527   -53.63347867 -1066.90014878]
Iteration 129: [  -13.89605673    -4.50644527   -55.50347867 -1103.40014878]
Iteration 130: [  -14.40505673    -4.69744527   -57.46347867 -1138.90014878]
Iteration 131: [  -14.86005673    -4.86744527   -59.42347867 -1173.90014878]
Iteration 132: [  -15.36805673    -5.05244527   -61.43347867 -1218.40014878]
Iteration 133: [  -15.86905673    -5.23144527   -63.33347867 -1252.40014878]
Iteration 134: [  -16.35905673    -5.42744527   -65.45347867 -1295.40014878]
Iteration 135: [  -16.87405673    -5.61444527   -67.32347867 -1327.90014878]
Iteration 136: [  -17.37205673    -5.78744527   -69.30347867 -1364.65014878]
Iteration 137: [  -17.88605673    -5.97744527   -71.31347867 -1404.15014878]
Iteration 138: [  -18.39305673    -6.17444527   -73.34347867 -1444.65014878]
Iteration 139: [  -18.81805673    -6.34744527   -75.21347867 -1478.15014878]
Iteration 140: [  -19.34005673    -6.53544527   -77.18347867 -1512.65014878]
Iteration 141: [  -19.79205673    -6.70144527   -79.09347867 -1545.15014878]
Iteration 142: [  -20.28505673    -6.90044527   -81.12347867 -1585.65014878]
Iteration 143: [  -20.78705673    -7.08844527   -83.14347867 -1623.65014878]
Iteration 144: [  -21.30605673    -7.28344527   -85.20347867 -1663.15014878]
Iteration 145: [  -21.77405673    -7.44844527   -87.09347867 -1699.65014878]
Iteration 146: [  -22.23105673    -7.61844527   -89.04347867 -1736.15014878]
Iteration 147: [  -22.78905673    -7.81644527   -91.11347867 -1776.15014878]
Iteration 148: [  -23.22405673    -7.99744527   -93.13347867 -1810.15014878]
Iteration 149: [  -23.72605673    -8.18444527   -95.11347867 -1847.90014878]
Iteration 150: [  -24.64805673    -8.44844527   -99.33347867 -1937.90014878]
Iteration 151: [  -25.55605673    -8.74044527  -103.55347867 -2033.90014878]
Iteration 152: [  -26.42205673    -9.00844527  -107.73347867 -2121.90014878]
Iteration 153: [  -27.24005673    -9.28244527  -112.01347867 -2214.90014878]
Iteration 154: [  -28.22005673    -9.60444527  -116.33347867 -2325.90014878]
Iteration 155: [  -29.18805673    -9.89644527  -120.59347867 -2442.90014878]
Iteration 156: [  -30.10405673   -10.18844527  -124.79347867 -2526.90014878]
Iteration 157: [  -30.94405673   -10.45844527  -128.99347867 -2609.90014878]
Iteration 158: [  -31.86805673   -10.74844527  -133.17347867 -2705.90014878]
Iteration 159: [  -32.87205673   -11.03444527  -137.53347867 -2819.90014878]
Iteration 160: [  -33.77405673   -11.32444527  -141.83347867 -2919.90014878]
Iteration 161: [  -34.70405673   -11.61444527  -146.09347867 -3007.90014878]
Iteration 162: [  -35.63005673   -11.93044527  -150.39347867 -3108.90014878]
Iteration 163: [  -36.48805673   -12.19244527  -154.69347867 -3208.90014878]
Iteration 164: [  -37.37805673   -12.47844527  -159.01347867 -3290.90014878]
Iteration 165: [  -38.33405673   -12.77844527  -163.31347867 -3403.90014878]
Iteration 166: [  -39.29805673   -13.06444527  -167.51347867 -3495.90014878]
Iteration 167: [  -40.29805673   -13.37044527  -171.91347867 -3606.90014878]
Iteration 168: [  -41.24405673   -13.67644527  -176.35347867 -3711.90014878]
Iteration 169: [  -42.10005673   -13.96044527  -180.53347867 -3805.90014878]
Iteration 170: [  -43.00205673   -14.25044527  -184.67347867 -3906.90014878]
Iteration 171: [  -44.19405673   -14.59044527  -189.27347867 -4027.90014878]
Iteration 172: [  -45.17605673   -14.88644527  -193.67347867 -4130.90014878]
Iteration 173: [  -46.02805673   -15.16044527  -197.93347867 -4229.90014878]
Iteration 174: [  -46.91605673   -15.50644527  -202.31347867 -4334.90014878]
Iteration 175: [  -47.77005673   -15.78044527  -206.47347867 -4413.90014878]
Iteration 176: [  -48.76205673   -16.10044527  -210.97347867 -4527.90014878]
Iteration 177: [  -49.66805673   -16.37444527  -215.17347867 -4613.90014878]
Iteration 178: [  -50.66005673   -16.67444527  -219.49347867 -4708.90014878]
Iteration 179: [  -51.53205673   -16.95244527  -223.83347867 -4806.90014878]
Iteration 180: [  -52.43005673   -17.21844527  -228.09347867 -4908.90014878]
Iteration 181: [  -53.33405673   -17.53444527  -232.39347867 -5014.90014878]
Iteration 182: [  -54.26605673   -17.81844527  -236.59347867 -5111.90014878]
Iteration 183: [  -55.23605673   -18.10044527  -240.99347867 -5217.90014878]
Iteration 184: [  -56.23805673   -18.40044527  -245.49347867 -5317.90014878]
Iteration 185: [  -57.16805673   -18.68844527  -249.83347867 -5415.90014878]
Iteration 186: [  -58.06805673   -18.99644527  -254.23347867 -5516.90014878]
Iteration 187: [  -58.93205673   -19.28644527  -258.39347867 -5605.90014878]
Iteration 188: [  -59.94005673   -19.59244527  -262.87347867 -5716.90014878]
Iteration 189: [  -60.84605673   -19.86844527  -267.03347867 -5800.90014878]
Iteration 190: [  -61.77005673   -20.16644527  -271.45347867 -5906.90014878]
Iteration 191: [  -62.68605673   -20.45044527  -275.83347867 -6000.90014878]
Iteration 192: [  -63.68205673   -20.78644527  -280.43347867 -6114.90014878]
Iteration 193: [  -64.69605673   -21.08644527  -284.89347867 -6225.90014878]
Iteration 194: [  -65.62405673   -21.39844527  -289.31347867 -6325.90014878]
Iteration 195: [  -66.58805673   -21.71044527  -293.73347867 -6427.90014878]
Iteration 196: [  -67.51805673   -22.00644527  -298.07347867 -6531.90014878]
Iteration 197: [  -68.44605673   -22.30644527  -302.39347867 -6625.90014878]
Iteration 198: [  -69.39605673   -22.59044527  -306.57347867 -6717.90014878]
Iteration 199: [  -70.30005673   -22.86644527  -310.87347867 -6812.90014878]
Iteration 200: [  -71.20405673   -23.19444527  -315.33347867 -6931.90014878]
Iteration 201: [  -72.18605673   -23.48444527  -319.57347867 -7024.40014878]
Iteration 202: [  -73.20205673   -23.83044527  -324.13347867 -7136.40014878]
Iteration 203: [  -74.07005673   -24.11844527  -328.49347867 -7228.40014878]
Iteration 204: [  -75.09605673   -24.40244527  -332.85347867 -7334.40014878]
Iteration 205: [  -76.04605673   -24.68244527  -337.09347867 -7431.90014878]
Iteration 206: [  -76.99605673   -24.98244527  -341.45347867 -7530.90014878]
Iteration 207: [  -77.90605673   -25.27244527  -345.69347867 -7625.90014878]
Iteration 208: [  -78.89605673   -25.59444527  -350.17347867 -7738.90014878]
Iteration 209: [  -79.78605673   -25.88844527  -354.45347867 -7835.90014878]
Iteration 210: [  -80.80205673   -26.20244527  -358.97347867 -7939.90014878]
Iteration 211: [  -81.74005673   -26.49444527  -363.41347867 -8037.40014878]
Iteration 212: [  -82.71005673   -26.79444527  -367.79347867 -8134.40014878]
Iteration 213: [  -83.69205673   -27.09444527  -372.35347867 -8244.40014878]
Iteration 214: [  -84.63805673   -27.37044527  -376.67347867 -8338.90014878]
Iteration 215: [  -85.57405673   -27.69244527  -380.97347867 -8448.90014878]
Iteration 216: [  -86.64205673   -28.00844527  -385.35347867 -8558.90014878]
Iteration 217: [  -87.50805673   -28.28844527  -389.51347867 -8650.40014878]
Iteration 218: [  -88.51805673   -28.59244527  -393.83347867 -8750.40014878]
Iteration 219: [  -89.51405673   -28.91044527  -398.41347867 -8869.40014878]
Iteration 220: [  -90.38405673   -29.21444527  -402.67347867 -8962.40014878]
Iteration 221: [  -91.41405673   -29.54044527  -407.27347867 -9072.40014878]
Iteration 222: [  -92.51605673   -29.86044527  -411.87347867 -9189.40014878]
Iteration 223: [  -93.40605673   -30.17444527  -416.21347867 -9286.90014878]
Iteration 224: [  -94.35005673   -30.44844527  -420.49347867 -9385.40014878]
Iteration 225: [  -95.28605673   -30.73444527  -424.79347867 -9482.40014878]
Iteration 226: [  -96.29405673   -31.04844527  -429.23347867 -9597.40014878]
Difference: [  -96.541   -31.895  -430.15  -9597.75 ]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in exp
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# Test
result_test= perceptron_test(d_test_X,d_test_y.shape,weights)

In [ ]:
# Calculate score
score(result_test,d_test_y)

Score=43.47826086956522